@font-face {
  font-family:'NHaasGroteskTXPro-55Rg';
  font-style: normal;
  font-weight: 300;
  font-display:swap;
  src: local('NHaasGroteskTXPro 55Rg'), local('NHaasGroteskTXPro-55Rg'),
  url(../assets/fonts/NHaasGroteskTXStd-55Rg.woff) format('woff');
  url(../assets/fonts/NHaasGroteskTXStd-55Rg.woff2) format('woff2'),
}
